#app {
  .main-container {
    min-height: 100%;
    transition: margin-left 0.28s;
    position: relative;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: auto !important;
    height: calc(100% - 50px);
    position: fixed;
    font-size: 0;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: visible;
    display: flex;
  }

  /* Electron桌面端顶部偏移 */
  .sidebar-container.top42 {
    top: 92px !important;
    height: calc(100% - 92px) !important;
  }

  /* 覆盖sidebar-wrapper的默认样式 */
  .sidebar-wrapper.top42 {
    top: 92px !important;
    height: calc(100vh - 92px) !important;
  }

  // 移动端适配
  .mobile {
    .main-container {
      margin-left: 0;
    }

    .sidebar-container {
      transition: transform 0.28s;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-100%, 0, 0);
      }
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// 面包屑样式
.app-breadcrumb.el-breadcrumb .no-redirect {
  color: #666 !important;
}
